body {
  font-family: Arial, Verdana, sans-serif;
}

h1, .footer {
  text-align: center;
  text-transform: uppercase;
}

.content {
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.footer {
  width: 60px;
  display: block;
  margin:20px auto;
}

.footer a{
  text-decoration-line: underline;
  color: black;
}